<div style="text-align: center; padding: 0; margin: 6em 0; font-family: "Open Sans", sans-serif;">
    <% if (!empresa.logo) { %>
        <div>
            <h3 style="margin: 0; font-size: 36px; font-weight: 100; color: #1e1e1e;"><%= empresa.nome %></h3>
        </div>
    <% } %>
    <% if (empresa.logo) { %>
        <div style="width: 20%; text-align: center; margin: 0 auto;">
            <img style="width: 100%;" src="<%= empresa_logo_url %>"" />
        </div>
    <% } %>
</div>
