<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Prescrição de Receita</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
</head>

<body style="margin: 0; padding: 0;">
    <center>
        <div style="margin: 50px;">

            <div style="text-align: center; padding: 0; margin: 6em 0; font-family: "Open Sans", sans-serif;">
                <% if (!empresa.logo) { %>
                    <div>
                        <h3 style="margin: 0; font-size: 36px; font-weight: 100; color: #1e1e1e;"><%= empresa.nome %></h3>
                    </div>
                <% } %>
                <% if (empresa.logo) { %>
                    <div style="width: 20%; text-align: center; margin: 0 auto;">
                        <img style="width: 100%;" src="<%= empresa_logo_url %>"" />
                    </div>
                <% } %>
            </div>

            <div style="font-family: "Open Sans", sans-serif; color: #424242; text-align: center;">
                <h2 style=text-align: center; color: #1e1e1e; font-weight: 900; text-transform: uppercase; font-size: 20px; padding: 0;>Receita Prescrita: <%= receituario.nome %></h2>
                <div class="row">
                    <% for(var i=0; i < receituarioItems.length; i++) { %>
                        <div>
                            <div>
                                <span>Para: Paciente <%= paciente.nome %></span>
                            </div>
                            <div>
                                <h4 style="padding: 2em 0;"><%= receituarioItems[i].medicamento.nome %></h4>
                                <div>
                                    <span>Posologia: <%= receituarioItems[i].posologia.nome %></span>
                                    <span> | Unidade de medida: <%= receituarioItems[i].unidade_medida.nome %></span>
                                    <span> | Via: <%= receituarioItems[i].via.nome %></span>
                                </div>
                                <div>
                                    <span>Duração: <%= receituarioItems[i].duracao.nome %></span>
                                    <span> | Frequência: <%= receituarioItems[i].frequencia.nome %></span>
                                </div>
                            </div>
                        </div>
                        <div style="margin-top: 6em; font-weight: 700; font-size: 16px; color: #424242; text-align: center;">
                            <div>
                                <p style="border-top: 1px solid #0a0a0a; margin: 0; padding-bottom: 1em;"><%= genderTxt %><%= prestador.nome %> - <%= prestador.conselho.nome %> <%= prestador.conselho_numero %></p>
                            </div>
                        </div>
                        <div style="font-size: 16px; color: #424242; text-align: center;">
                            <p style="margin: 0; padding-bottom: 1em;"><%= date %>.</p>
                        </div>
                        <div style="margin: 5em 0; text-align: center; font-size: 18px; color: #424242;">
                            <span style="font-weight: bold;"><%= empresa.nome %></span>
                            <% if (empresa.enderecos.length > 0) { %>
                                <span>
                                    | <%= empresa.enderecos[0].logradouro %>, <%= empresa.enderecos[0].numero %>
                                    <% if (empresa.enderecos[0].complemento) { %>
                                        <span> - <%= empresa.enderecos[0].complemento %></span>
                                    <% } %>
                                    | <%= empresa.enderecos[0].cidade %>-<%= empresa.enderecos[0].estado %>
                                </span>
                            <% } %>
                            <% if (empresa.email) { %>
                                <p><%= empresa.email %></p>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </center>


</body>

</html>
